body{
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00B4DB, #00B4DB, #000000 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00B4DB, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: auto;
    overflow: hidden;
}

.App{
    height:auto !important;
}

#content{
    overflow: auto;
    width:100%;
    height: 100vh !important;
}

.card{
    border:none;
    width: 350px;
}

.card .card-header{
    color:white;
    height: 70px;
    padding: 5% 30px;
   
}

.card .card-header .m-4{
    margin:2px !important;
}

.card, .card-body {
    max-height:700px;
    overflow:auto;
}

.card .card-footer{
    font-size: 16px;
    background: white;
}

.navbar .nav-link{
    background: none;
    color:white;
    border:none;
}

.navbar{
    width: 100%;
}

#taskform{
    height: 600px;
    width: 600px;
}